:root {
  --clr-primary: #a1be95;
  --clr-secondary: #2b430b4f;
  --clr-accent: #f98866;
  --clr-neutral-lt: #faf9f9;
  --clr-neutral-dk: #2b430b68; 
  --ff-base: ui-rounded, 'Hiragino Maru Gothic ProN',
    Quicksand, Comfortaa, Manjari, 'Arial Rounded MT',
    'Arial Rounded MT Bold', Calibri, source-sans-pro,
    sans-serif;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background: var(--clr-primary);
  color: var(--clr-neutral-lt);
  font-family: var(--ff-base);
  text-align: center;
}

input,
button {
  font: inherit;
}

button,
.cell {
  cursor: pointer;
}

.main .game-board {
  display: grid;
  grid-template: repeat(3, 150px) / repeat(3, 150px);
  justify-content: center;
  gap: 8px;
}

.game-board .cell {
  background: var(--clr-secondary);
  color: var(--clr-accent);
  border-radius: 5px;
  font-weight: 600;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-board .cell:hover {
  background: var(--clr-neutral-dk);
}